In [49]:
n=int(input("enter the number: "))
for i in range(2,n+1,2):
    print(i)

enter the number:  7

2
4
6

In [11]:
n=int(input("Enter the number:"))
sum=0
for i in range(0,n+1):
    sum=sum+i
print("Sum of no is: ",sum)

Enter the number: 3

Sum of no is:  6

In [34]:
n=int(input("Enter the number:"))
    if i==1:
        print("Not a prime")
    elif i>1:
        for i in range(2,n):
            if (n%i)==0:
            print("not a prime")
            break
        else:
            print("prime")
    else:
        print("not a prime")

IndentationError: unexpected indent (12691101.py, line 2)

In [58]:
n=int(input("enter the number: "))
odd=[]
even=[]
for i in range(1,n):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print("odd_nmbr:",len(odd))
print("even_nmbr:",len(even))

enter the number:  10

odd_nmbr: 5
even_nmbr: 4

In [60]:
n=[i for i in range(1,30) if(i%2==0)]

In [62]:
n

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [1]:
n=int(input("enter the number: "))
sum=0
for i in range(0,n+1):
    sum=sum+(i**3)
print(sum)

enter the number:  5

225

In [5]:
n=int(input("enter the number: "))
for i in range(1,n+1):
    print(i)

enter the number:  10

1
2
3
4
5
6
7
8
9
10

In [11]:
n=int(input("enter the number: "))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

enter the number:  3

6

In [21]:
a=int(input("enter the number: "))
n=int(input("enter the number: "))
sum=0
for i in range(a,n):
    if i%2!=0:
        sum=sum+i
print(sum)

enter the number:  1
enter the number:  7

9

In [11]:
a=int(input("enter the number: "))
n=int(input("enter the number: "))
for i in range(a,n):
    if i%2==0:
        print(i, end=' ')

enter the number:  1
enter the number:  10

2 4 6 8

In [45]:
n=int(input("enter the number: "))
count=0
if n==0:
    print("1")
while n>0:
    n=n//10
    count=count+1
print(count)

enter the number:  89

2

In [31]:
n=int(input("enter the number: "))
str1=str(n)
print(len(str1))

enter the number:  4567

4

In [5]:
n=input("Enter a word:")
n1=0
if(n1==n[::-1]):
    print("palindrome")
else:
    print("not")

Enter a word: naveen

not

In [7]:
n=int(input("enter the number: "))
temp=n
r=0
while(n>0):
    d=n%10
    r=r*10+d
    n=n//10

if temp==r:
    print("palindrome")
else:
    print("not palindrome")

enter the number:  2332

palindrome

In [15]:
n=int(input("enter the number: "))
b=len(str(n))
temp=n
sum=0
while(temp>0):
    d=temp%10
    sum=sum+d**b
    temp=temp//10
if n==sum:
    print("Armstrong")
else:
    print("not Armstrong")

enter the number:  1634

Armstrong

In [35]:
count=0
for i in range(1,100):
    if i%3==0 and i%5==0:
        count=count+1
        print(i)
print("count=",count)

15
30
45
60
75
90
count= 6

In [51]:
count=0
for i in range(1,101):
    if i%3==0:
        continue
    else:
        print(i,end=' ')
        count+=1
print("\ncount=",count)

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50 52 53 55 56 58 59 61 62 64 65 67 68 70 71 73 74 76 77 79 80 82 83 85 86 88 89 91 92 94 95 97 98 100
count= 67

In [77]:
count=0
for i in range(1,101):
    if not(i%3==0 or i%5==0):
        continue
    else:
        print(i,end=' ')
        count+=1
print("count=",count)

3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100 count= 47

In [129]:
count=0
list=[]
for i in range(1,501):
    a=i**2
    if a<500:
        list.append(a)
        count+=1
print(list)
print(count)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484]
22

In [24]:
a="naveen"
rev=""
for i in a:
    rev=i+rev
print(rev)

neevan

In [62]:
def even_nmbr(a):
    if a%2==0:
        print("even")
    else:
        print("odd")

even_nmbr(21)

odd

NameError: name 'even' is not defined

In [76]:
def even_nmbr(a):
    return a%2==0

even_nmbr(20)
print("even")

even

In [22]:
def avg_nmbr(a):
    if a>100:
        print("Number is less than 100")
    if a>=80 and a<=100:
        print("Good")
    elif a>=50 and a<80:
        print("Average")
    else:
        print("bad")
avg_nmbr(80)

Good

In [14]:
avg_nmbr(43)

bad

43

In [20]:
avg_nmbr(310)

Number is less than 100
bad

310

In [15]:
def avg_nmbr(a):
    for a in numbers:
        if a>100:
            print("Number is less than 100")
        elif a>=80 and a<=100:
            print("Good")
        elif a>=50 and a<80:
            print("Average")
        else:
            print("bad")
numbers=[86,55,32,95,12]
avg_nmbr(numbers)

Good
Average
bad
Good
bad

In [3]:
def prime_no(a):
    if a=1:
        return "Not prime"
    for i in range(2,a):
        if a%i==0:
            return "Not prime"
    return "Prime"
prime_no(307)

'Prime'

In [11]:
prime_no(310)

'Not prime'

In [5]:
prime_no(126)

'Not prime'

In [11]:
prime_no(2)

'Prime'

In [29]:
list(filter(lambda x:x%2!=0,range(1,20)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [38]:
for i in range(1,5):
    for i in range(i,5):
        print(i, end="")
    print()
   ''

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [41]:
+++

SyntaxError: invalid syntax (2008998625.py, line 1)

In [66]:
for i in range(1,5):
    for i in range(i,5):
        print(i, end="")
    print()

1234
234
34
4

In [64]:
for i in range(0,5):
    for i in range(4,i,-1):
        print(i, end="")
    print()

4321
432
43
4

In [3]:
a=[2,3,4,9,8,1]
print(max(a))

9

In [5]:
print(min(a))

1

In [18]:
a=[2,3,4,9,8,1]
a.sort()
print(a[-2])

8

In [32]:
a=[2,3,4,9,8,1]
even=[]
odd=[]
for i in a :
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 8]
[3, 9, 1]

In [36]:
a={'a':1,'b':3,'c':5,'d':6}
print(sum(a.values()))

15

In [40]:
import math
def volume(r,h):
    v=(1/3)*math.pi*r**2*h
    return v
print(round(volume(2,5),2))

20.94

In [58]:
for i in range(1,4):
    print("* "*3,end='')
    print()

* * *
* * *
* * *

In [60]:
for i in range(1,5):
    print("4"*4,end='')
    print()

4444
4444
4444
4444

In [74]:
for i in range(1,5):
    for i in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [1]:
for i in range(1,5):
    for i in range(i):
        print(i+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [7]:
for num in range(1,5):
    for i in range(num):
        print(num,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [9]:
import calendar
y=int(input("Enter:"))
m=int(input("Enter:"))
print(calendar.month(y,m))

Enter: 2022
Enter: 10

    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [21]:
a=input("enter string:")
n=a.lower()
n.split()
c=n.sort()
print(c)

enter string: this is naveem

AttributeError: 'str' object has no attribute 'sort'

In [32]:
a=[2,4,3,5,2]
a.sort()
n=len(a)
if n%2!=0:
    m=(n+1)/2
else:
    m=n/2

print(m)

3.0

In [95]:
vowel="aeiou,AEIOU"
count=0
string="balachandErA"
for char in string:
    if char in vowel:
        count=count+1
print(count)

5

In [36]:
def int_lst(b):
    a=[]
    for item in b:
        if type(item)==int:
            a.append(item)
b=["naveen","balachander","varun",2,3,2]
print(a)

[2, 3, 2]

In [58]:
def remove_nmbr(lst):
    lst1=[]
    for item in lst:
        if item not in lst1:
            lst1.append(item)
    return lst1

lst=[2,3,4,3,5,1,3]
print(remove_nmbr(lst))

[2, 3, 4, 5, 1]

In [62]:
def arg_nmbr(a):
    a.append(7)
    a.remove(1)
    return a

a=[1,2,3]
print(arg_nmbr(a))

[2, 3, 7]

In [72]:
str="there are many animals"
r=[]
a=str.split()
for word in a:
    if word.lower()[0]=='a' or word.lower()[0]=='e':
        r.append(word)
print(r)

['are', 'animals']

In [74]:
str="there are many animals"
r=[]
a=str.split()
for word in a:
    if len(word)>=4:
        r.append(word)
print(r)

['there', 'many', 'animals']

In [21]:
import re

a="a bird is elegant and adament"
pattern=r'\ba[a-z]*\b|\be[a-z]+\b'
x = re.findall(pattern, a)
print(x)

['a', 'elegant', 'and', 'adament']

In [79]:
import re
Sample = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]

for char in Sample:
    pattern='[()]'
    x = re.sub(pattern,'', char)
    print(x)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [91]:
import re
a="ImportanceOfRegularExpressionsInPython"
pattern=r'[A-Z][a-z]+'
x = re.findall(pattern,a)
print(x)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [38]:
import re
target="RegularExpression1IsAnImportantTopic3InPython"
pattern=r'(\d)'
x=re.sub(pattern,r' \1 ',target)
print(x)

RegularExpression 1 IsAnImportantTopic 3 InPython

In [81]:
import re
target='123.0083.00701.008900'
pattern=r'[.][0]+'
x=re.sub(pattern,'.',target)
print(x)

123.83.701.8900

In [146]:
import re
target="RegularExpressionIsAnImportantTopicInPython"
pattern=r'([a-z]





















x=re.sub(pattern,r'\1 \2',target)
print(x)

Regular Expression Is An Important Topic In Python

In [1]:
import re
Sample='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern=r'\d+'
x=re.findall(pattern,Sample)
a=max(map(int,x))
print(a)

950

In [16]:
import re
Sample= "Hello hello world world hello"
pattern=r'\b(\w+)\s(\1)\b'
x=re.findall(pattern,r'\1',Sample)
print(x)

TypeError: unsupported operand type(s) for &: 'str' and 'RegexFlag'

In [90]:
import re
Sample="Hello my name is Data Sccience and my email address is xyz@domain.com and alterate email address is xyz.abc@sdomain.domain.com. Please contact us at hr@fliprobo.com for furthur information"
pattern=r'[a-z]+@[a-z]+.com|x[a-z]+.[a-z]+.@[a-z]+.[a-z]+.com'
x=re.findall(pattern,Sample)
print(x)

['xyz@domain.com', 'xyz.abc@sdomain.domain.com', 'hr@fliprobo.com']

In [14]:
a=[1,2,3,4,5]
temp=a[0]
a[0]=a[-1]
a[-1]=temp
print(a)

[5, 2, 3, 4, 1]

In [60]:
import random
a=[]
i=random.randint(1,20)
a.append(i)
print(a)

[14]

In [163]:
n=6
for i in range(1,n):
    for j in range(i,n):
        print(i*2-1,end="")
    print()

11111
3333
555
77
9

In [5]:
for i in range(1,6):
    for j in range(0,i):
        print(" ",end=" ")
    for j in range(i+1,6):
        print("$",end=" ")
    for j in range(i,6):
        print("$",end=" ")
    print()

  $ $ $ $ $ $ $ $ $
    $ $ $ $ $ $ $
      $ $ $ $ $
        $ $ $
          $

In [7]:
n=65
for i in range(1,6):
    for j in range(i):
        ch=chr(n)
        print(ch,end=" ")
        n=n+1
    print()

A
B C
D E F
G H I J
K L M N O

In [1]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i,n):
        print("%",end=' ')
    for j in range(i+1,n):
        print("%",end=' ')
    print()

  % % % % % % % % %
    % % % % % % %
      % % % % %
        % % %
          %

In [33]:
class cal():
    x=10
    def sum(self,a,b):
        return a+b

In [35]:
x=cal()

In [37]:
x.sum(1,2)

3

In [65]:
l=[]
n=range(1,5)
for i in n:
    l.append((i,i**2))
print(l)

[(1, 1), (2, 4), (3, 9), (4, 16)]

In [81]:
a=[(1, 1), (2, 4), (3, 9), (4, 16),4,"asdd"]
a.remove(tuple)
print(a)

ValueError: list.remove(x): x not in list

In [99]:
a = {
  "brand": 2,
  "model": 3,
  "year": 2
}
p=1
for n in a.values():
    p*=n
print(p)

12

In [103]:
a = {
  "brand": 2,
  "model": 3,
  "year": 2
}
a.pop("year")
print(a)

{'brand': 2, 'model': 3}

In [107]:
a=[(1, 1), (2, 4), (3, 17), (4, 16),(1,1)]
a.sort()
print(a)

[(1, 1), (1, 1), (2, 4), (3, 17), (4, 16)]

In [1]:
class cal():
    name='naveen'
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def sum(self):
        return self.a*self.b

In [3]:
c=cal(10,10)

In [9]:
c.sum()

100

In [50]:
a='a12a1'
count=0
count1=0
for i in a:
    try:
        c=int(i)
    except:
        count+=1
    else:
        count1+=1
print(count)
print(count1)

2
3

In [62]:
a=[1,2,3,4,5]
try:
    print(a[1])
    print(a[2])
except:
    print("out of Range")
else:
    print("success")

2
3
success

In [15]:
s1=input("Enter first string:")
s2=input("Enter second string:")
a=list(set(s1)-set(s2))
print("The letters are:")
for i in a:
    print(i)

Enter first string: nav
Enter second string: aru

The letters are:
v
n

In [27]:

a='a','e','i','o','u','A','E','I','O','U'
s="I am a little boy"
count=0
for char in s:
    if char in a:
        count=count+1
print(count)

7

In [53]:
s="I AM a little boy"
a_count=0
b_count=0
for char in s:
    if char.isupper():
        a_count+=1
    if char.islower():
        b_count+=1
print("upper:",a_count)
print("lower:",b_count)

upper: 3
lower: 10

In [61]:
s="I AM3 a little1 boy"
a_count=0
b_count=0
for char in s:
    if char.isalpha():
        a_count+=1
    if char.isdigit():
        b_count+=1
print("letters:",a_count)
print("digit:",b_count)

letters: 13
digit: 2

In [71]:
a="naveen"
b="raja"
c=list(set(a)^set(b))
for i in c:
    print(i)

e
n
v
j
r

In [93]:
s="cricket"
temp=s[0]
s[0]=s[-1]
s[-1]=temp
print('',s.join())

TypeError: 'str' object does not support item assignment

['I', ' ', 'A', 'M', ' ', 'a', ' ', 'l', 'i', 't', 't', 'l', 'e', ' ', 'b', 'o', 'y', ' ', 'a', 'n', 'd', ' ', 'i', ' ', 'l', 'o', 'v', 'e', ' ', 'c', 'r', 'i', 'c', 'k', 'e', 't']

In [105]:
a="lzptops"
b="naveen"
a_count=0
b_count=0
for i in a:
      a_count=a_count+1
for j in b:
      b_count=b_count+1
if(a_count<b_count):
      print(a)
else:
      print(b)

naveen

In [21]:
a=input("Enter:")
b=input("Enter:")
c=input("Enter:")
if len(a)>len(b) and len(a)>len(c):
    print("largest:",a)
elif len(b)>len(a) and len(b)>len(c):
    print("largest:",b)
else:
    print("largest:",c)

Enter: uio
Enter: ersc
Enter: dc

largest: ersc

In [19]:
a="chibcia"
b=" "
for ch in a:
    b=ch+b
print(b)

aicbihc

In [15]:
p=7
q=4
p,q=q,p
print(p)
print(q)

4
7

In [23]:
str1=('welcome-to-python')
res=str1.split('-')
var=sorted(res)
str2='-'.join(var)
print(str2)

python-to-welcome